<%- include("header") -%>
<h2 class="home">Think of any number between 1 to 60</h2>
<form action="/cards" method="post">
  <button type="submit" class="btnhome btn btn-primary btn-lg" name="button"> Next </button>
</form>
<%- include("footer") -%>
